In [ ]:
#

In [1]:
import pandas as pd
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)

url = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD\MAPD&SNP Roster_2021.xlsx"

#url = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPD&SNP Roster_2021.xlsx"

#url = "MAPD&SNP Roster_2021.xlsx"

df1=pd.read_excel(
     os.path.join(url),
     engine='openpyxl',
)
#df1

# Rename

df2 = df1.rename(columns={'Enrollment Date': 'EnrollDate'})
df2 = df2.rename(columns={'App Date': 'AppDate'})
df2 = df2.rename(columns={'Marketing Rep': 'Rep'})
df2 = df2.rename(columns={'Member ID': 'MBID'})
df2 = df2.rename(columns={'Disenrollment/End Date': 'EndDate'})



#print (df2)

# select columns

df3 = df2[['MBID', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep', 'EndDate']]


# print this 2 days
#df3[(df3['AppDate'] >= '2021-01-19') & (df3['AppDate'] <= '2021-01-20')]

#df3 = df3[(df3['EnrollDate'] == '2021-01-01') | (df3['EnrollDate'] == '2021-02-01')]

#df3[(df3['AppDate'] >= '2021-01-19')]

#df3 = df3[(df3['Status'] == 'Disenrolled')]


#df3 = df3[(df3['EndDate'] >= '2021-01-01') & (df3['EndDate'] <= '2021-01-31')]

df3 = df3[(df3['Status'] != 'Cancelled')]

df4 = df3[(df3['EnrollDate'] == '2021-01-01') 
          | (df3['EnrollDate'] == '2021-02-01') 
          | (df3['EnrollDate'] == '2021-03-01')
          | (df3['EnrollDate'] == '2021-04-01')
          | (df3['EnrollDate'] == '2021-05-01')
          | (df3['EnrollDate'] == '2021-06-01')
          | (df3['EnrollDate'] == '2021-07-01')
          | (df3['EnrollDate'] == '2021-08-01')
          | (df3['EnrollDate'] == '2021-09-01')
         ]

#df4 = df3

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [2]:



# Whole Team



df4 = df4[(df4['Rep'] == 'Yanery Fernandez') 
          | (df4['Rep'] == 'Ivonne Cedeno')
          #| (df4['Rep'] == 'James (Shiou-Hao) Lu')
          #| (df4['Rep'] == 'Monalisa Crossway')
          | (df4['Rep'] == 'Laura Lou Seefeldt')
          #| (df4['Rep'] == 'Griselle Leonardo')
          | (df4['Rep'] == 'Shelly Bobb')
          #| (df4['Rep'] == 'Zhen Zhu')
          #| (df4['Rep'] == 'Confessor Concepcion')
          #| (df4['Rep'] == 'Angela Lozano')
          #| (df4['Rep'] == 'Keith Douglas')
          #| (df4['Rep'] == 'Angela Hernandez')
          | (df4['Rep'] == 'Carolina Zuluaga ') 
          | (df4['Rep'] == 'Katiria Fernandez ')
          | (df4['Rep'] == 'Brad Willinger')
          | (df4['Rep'] == 'Jacqueline Garcia')
          | (df4['Rep'] == 'Paula Andrea Luna Lopera')
          #| (df4['Rep'] == 'Vincent Lee')
          #| (df4['Rep'] == 'Robert Echevarria ')
         ]

# for whole team

# create a list of our conditions
import numpy as np

conditions = [(df4['Rep'] == 'Yanery Fernandez') 
          | (df4['Rep'] == 'Ivonne Cedeno')
          | (df4['Rep'] == 'James (Shiou-Hao) Lu')
          | (df4['Rep'] == 'Monalisa Crossway')
          | (df4['Rep'] == 'Laura Lou Seefeldt')
          | (df4['Rep'] == 'Griselle Leonardo')
          | (df4['Rep'] == 'Shelly Bobb')
          | (df4['Rep'] == 'Zhen Zhu')
          | (df4['Rep'] == 'Confessor Concepcion')
          | (df4['Rep'] == 'Jacqueline Garcia')
          | (df4['Rep'] == 'Angela Lozano')
          | (df4['Rep'] == 'Keith Douglas')
          | (df4['Rep'] == 'Carolina Zuluaga ')
          | (df4['Rep'] == 'Paula Andrea Luna Lopera')
          | (df4['Rep'] == 'Angela Hernandez') ,
            (df4['Rep'] == 'Katiria Fernandez ')
          | (df4['Rep'] == 'Brad Willinger')
          #| (df4['Rep'] == 'Jacqueline Garcia')
          | (df4['Rep'] == 'Vincent Lee')
          | (df4['Rep'] == 'Robert Echevarria ')
             ]

# create a list of the values we want to assign for each condition
values = ['FieldSales', 'TeleSales']

# create a new column and use np.select to assign values to it using our lists as arguments
df4['Type'] = np.select(conditions, values)

conditions1 = [(df4['Rep'] == 'Ivonne Cedeno') 
          | (df4['Rep'] == 'Confessor Concepcion')
          | (df4['Rep'] == 'Griselle Leonardo')
          | (df4['Rep'] == 'Yanery Fernandez')
          | (df4['Rep'] == 'Katiria Fernandez ')
          | (df4['Rep'] == 'Jacqueline Garcia')
          | (df4['Rep'] == 'Carolina Zuluaga '), 
            (df4['Rep'] == 'Shelly Bobb')
          | (df4['Rep'] == 'Laura Lou Seefeldt')
          | (df4['Rep'] == 'Monalisa Crossway')
          | (df4['Rep'] == 'Brad Willinger')
          | (df4['Rep'] == 'Angela Lozano')
          | (df4['Rep'] == 'Angela Hernandez')
          | (df4['Rep'] == 'Paula Andrea Luna Lopera')
          | (df4['Rep'] == 'Robert Echevarria '), 
            (df4['Rep'] == 'Vincent Lee')
          | (df4['Rep'] == 'James (Shiou-Hao) Lu')
          ]

# create a list of the values we want to assign for each condition
values1 = ['SPANISH', 'ENGLISH', 'CHINESE']

# create a new column and use np.select to assign values to it using our lists as arguments
df4['Language'] = np.select(conditions1, values1)

conditions2 = [(df4['Rep'] == 'Ivonne Cedeno'), 
            (df4['Rep'] == 'Confessor Concepcion')
          | (df4['Rep'] == 'Monalisa Crossway')
          | (df4['Rep'] == 'Shelly Bobb'),
            (df4['Rep'] == 'Griselle Leonardo'),
            (df4['Rep'] == 'Laura Lou Seefeldt'),
            (df4['Rep'] == 'Yanery Fernandez'),
            (df4['Rep'] == 'James (Shiou-Hao) Lu'), 
            (df4['Rep'] == 'Vincent Lee')
          | (df4['Rep'] == 'Katiria Fernandez ')
          | (df4['Rep'] == 'Carolina Zuluaga ')
          | (df4['Rep'] == 'Brad Willinger')
          | (df4['Rep'] == 'Robert Echevarria ') 
          |  (df4['Rep'] == 'Angela Hernandez')
          ]

# create a list of the values we want to assign for each condition
values2 = ['BX/QNS', 'BK', 'BX/BK', 'SI/BK', 'BX', 'QNS/BK', 'NA'
          ]

# create a new column and use np.select to assign values to it using our lists as arguments
df4['TERRITORY'] = np.select(conditions2, values2)

# display updated DataFrame
print(len(df4))
print(df4)

987
        MBID EnrollDate    LOB       Status    AppDate                 Rep  \
6501  138938 2021-01-01  D-SNP     Enrolled 2020-10-15    Yanery Fernandez
6502  138945 2021-01-01   MAPD  Disenrolled 2020-10-15    Yanery Fernandez
6503  138951 2021-01-01  D-SNP     Enrolled 2020-10-15    Yanery Fernandez
6504  138953 2021-01-01  D-SNP     Enrolled 2020-10-15    Yanery Fernandez
6507  138996 2021-01-01   MAPD     Enrolled 2020-10-15  Laura Lou Seefeldt
...      ...        ...    ...          ...        ...                 ...
8104  312771 2021-09-01   MAPD     Enrolled 2021-08-30  Laura Lou Seefeldt
8105  122686 2021-09-01  D-SNP     Enrolled 2021-08-30   Jacqueline Garcia
8107   61329 2021-09-01  D-SNP     Enrolled 2021-08-31    Yanery Fernandez
8108  312913 2021-09-01  D-SNP  Disenrolled 2021-08-31       Ivonne Cedeno
8109   27918 2021-09-01  D-SNP     Enrolled 2021-08-31       Ivonne Cedeno

        EndDate        Type Language TERRITORY
6501        NaT  FieldSales  SPANISH        BX
6502 2021-02-28  FieldSales  SPANISH        BX
6503        NaT  FieldSales  SPANISH        BX
6504        NaT  FieldSales  SPANISH        BX
6507        NaT  FieldSales  ENGLISH     SI/BK
...         ...         ...      ...       ...
8104        NaT  FieldSales  ENGLISH     SI/BK
8105        NaT  FieldSales  SPANISH         0
8107        NaT  FieldSales  SPANISH        BX
8108 2021-09-30  FieldSales  SPANISH    BX/QNS
8109        NaT  FieldSales  SPANISH    BX/QNS

[987 rows x 10 columns]

# Transfer to Map

In [3]:
import os
import pandas as pd

url1 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\Source\MAP Roster_2021- KAT2.xlsx"

#url1 = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPRoster_2021.xlsx"


df20=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Enrolled'
)

df21=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Not Enrolled'
)

# Enrollment Tracking
df30=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Enrollment Tracking'
)

# Withdrawal Cancel Tracking
df31=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Withdrawal Cancel Tracking'
)

# Rename

df20 = df20.rename(columns={'Legacy ID': 'ID'})
df20 = df20.rename(columns={'Overall Status': 'Status'})
df20 = df20.rename(columns={'Overall Start Date': 'EnrollDate'})
df20 = df20.rename(columns={'Overall End Date': 'DisenrollDate'})
df20 = df20.rename(columns={'Sales Agent': 'Agent'})
df20 = df20.rename(columns={'Member Last Name': 'Last'})
df20 = df20.rename(columns={'Member First Name': 'First'})

df21 = df21.rename(columns={'Legacy ID': 'ID'})
df21 = df21.rename(columns={'Overall Status': 'Status'})
df21 = df21.rename(columns={'Overall Start Date': 'EnrollDate'})
df21 = df21.rename(columns={'Overall End Date': 'DisenrollDate'})
df21 = df21.rename(columns={'Sales Agent': 'Agent'})
df21 = df21.rename(columns={'Member Last Name': 'Last'})
df21 = df21.rename(columns={'Member First Name': 'First'})

df30 = df30.rename(columns={'Legacy ID': 'ID'})
df30 = df30.rename(columns={'Overall Status': 'Status'})
df30 = df30.rename(columns={'Overall Start Date': 'EnrollDate'})
df30 = df30.rename(columns={'Overall End Date': 'DisenrollDate'})
df30 = df30.rename(columns={'Sales Agent': 'Agent'})
df30 = df30.rename(columns={'Member Last Name': 'Last'})
df30 = df30.rename(columns={'Member First Name': 'First'})

df31 = df31.rename(columns={'Legacy ID': 'ID'})
df31 = df31.rename(columns={'Overall Status': 'Status'})
df31 = df31.rename(columns={'Overall Start Date': 'EnrollDate'})
df31 = df31.rename(columns={'Overall End Date': 'DisenrollDate'})
df31 = df31.rename(columns={'Sales Agent': 'Agent'})
df31 = df31.rename(columns={'Member Last Name': 'Last'})
df31 = df31.rename(columns={'Member First Name': 'First'})


#print (list(df9.columns))

# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df20 = df20[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]
df21 = df21[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]
df30 = df30[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]
df31 = df31[['ID', 'EnrollDate', 'DisenrollDate', 'LOB', 'Status', 'Agent', 'Last', 'First']]

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

In [4]:
same = list(set(df20['ID']).intersection(set(df4['MBID'])))
same1 = list(set(df21['ID']).intersection(set(df4['MBID'])))
same2 = list(set(df30['ID']).intersection(set(df4['MBID'])))
same3 = list(set(df31['ID']).intersection(set(df4['MBID'])))

same4 = []
same4 = same + same1 + same2 + same4

# unique value

myset = list(set(same4))
len(myset)


#df24 = df22[~df22['ID'].isin(same)]

115

In [5]:
df5= df4

df5.loc[df5['MBID'].isin(myset), 'Transfer'] = "T"
df5.loc[~df5['MBID'].isin(myset), 'Transfer'] = "NT"

In [6]:
df5

,MBID,EnrollDate,LOB,Status,AppDate,Rep,EndDate,Type,Language,TERRITORY,Transfer
6501,138938,2021-01-01,D-SNP,Enrolled,2020-10-15,Yanery Fernandez,NaT,FieldSales,SPANISH,BX,NT
6502,138945,2021-01-01,MAPD,Disenrolled,2020-10-15,Yanery Fernandez,2021-02-28,FieldSales,SPANISH,BX,NT
6503,138951,2021-01-01,D-SNP,Enrolled,2020-10-15,Yanery Fernandez,NaT,FieldSales,SPANISH,BX,NT
6504,138953,2021-01-01,D-SNP,Enrolled,2020-10-15,Yanery Fernandez,NaT,FieldSales,SPANISH,BX,NT
6507,138996,2021-01-01,MAPD,Enrolled,2020-10-15,Laura Lou Seefeldt,NaT,FieldSales,ENGLISH,SI/BK,NT
...,...,...,...,...,...,...,...,...,...,...,...
8104,312771,2021-09-01,MAPD,Enrolled,2021-08-30,Laura Lou Seefeldt,NaT,FieldSales,ENGLISH,SI/BK,NT
8105,122686,2021-09-01,D-SNP,Enrolled,2021-08-30,Jacqueline Garcia,NaT,FieldSales,SPANISH,0,NT
8107,61329,2021-09-01,D-SNP,Enrolled,2021-08-31,Yanery Fernandez,NaT,FieldSales,SPANISH,BX,NT
8108,312913,2021-09-01,D-SNP,Disenrolled,2021-08-31,Ivonne Cedeno,2021-09-30,FieldSales,SPANISH,BX/QNS,NT
8109,27918,2021-09-01,D-SNP,Enrolled,2021-08-31,Ivonne Cedeno,NaT,FieldSales,SPANISH,BX/QNS,NT

In [7]:
#df4.to_excel(r'disenroll_rate.xlsx', index = False)


with pd.ExcelWriter('disenroll_rate.xlsx',
                  date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD') as writer:
    df5.to_excel(writer, index=False)

In [10]:
#df28 = df5.groupby(["EnrollDate", "LOB"])["EnrollDate"].count().reset_index(name="EN")

df28 = df5.groupby(["EnrollDate"])["EnrollDate"].count().reset_index(name="EN")

df28 = df28.rename(columns={'EnrollDate': 'Month'})

df28

       Month   EN
0 2021-01-01  301
1 2021-02-01   98
2 2021-03-01   91
3 2021-04-01  106
4 2021-05-01  129
5 2021-06-01   82
6 2021-07-01   78
7 2021-08-01   56
8 2021-09-01   46

In [11]:
df29 = df5[(df5['Transfer'] == 'NT')]

df29 = df29[(df29['Status'] == 'Disenrolled')]
           
df30 = df29.groupby(["EnrollDate"])["EnrollDate"].count().reset_index(name="RDE")

df30 = df30.rename(columns={'EnrollDate': 'Month'})
df30

       Month  RDE
0 2021-01-01  110
1 2021-02-01   25
2 2021-03-01   23
3 2021-04-01   31
4 2021-05-01   22
5 2021-06-01   17
6 2021-07-01   22
7 2021-08-01    5
8 2021-09-01    2

# Part 2

# Actual loss

In [12]:
import pandas as pd
import os

# DualEligibleMembers.xlsx
#pd.read_excel('DualEligibleMembers.xlsx', index_col=0)

# MAPD & DSNP

url = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAPD\MAPD&SNP Roster_2021.xlsx"

#url = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPD&SNP Roster_2021.xlsx"

#url = "MAPD&SNP Roster_2021.xlsx"

df1=pd.read_excel(
     os.path.join(url),
     engine='openpyxl',
)
#df1

# MAP

url1 = "S:\ENROLLMENT\ENROLLMENT-PUBLIC\MEDICARE\MAP\Source\MAP Roster_2021- KAT2.xlsx"
#url1 = "C:\\Users\\tflung\\OneDrive\\Documents\\MAPRoster_2021.xlsx"

df9=pd.read_excel(
     os.path.join(url1),
     engine='openpyxl',
     sheet_name='Disenrolled'
)


#print (list(df9.columns))

# Rename


df10 = df9.rename(columns={'Overall Status': 'Status'})
df10 = df10.rename(columns={'Overall End Date': 'DisenrollDate'})


# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df11 = df10[['DisenrollDate', 'LOB', 'Status']]


# Rename

df2 = df1.rename(columns={'Enrollment Date': 'EnrollDate'})
df2 = df2.rename(columns={'App Date': 'AppDate'})
df2 = df2.rename(columns={'Marketing Rep': 'Rep'})
df2 = df2.rename(columns={'Disenrollment/End Date': 'DisenrollDate'})


# select columns

#df3 = df2[['DisenrollDate', 'EnrollDate', 'LOB', 'Status', 'AppDate', 'Rep']]
df3 = df2[['DisenrollDate', 'LOB', 'Status']]

df3['DisenrollDate'] = pd.to_datetime(df3['DisenrollDate'], errors = 'coerce')

#df3

from io import BytesIO
from zipfile import ZipFile
import pandas
import requests
import itertools



date = ['2020-12-01', 
        '2020-11-01', 
        '2020-12-01', 
        '2021-01-01',
        '2021-02-28',
        '2021-03-31',
        '2021-04-30',
        '2021-05-31',
        '2021-06-30',
        '2021-07-31',
        '2021-08-31',
        '2021-09-30'
       ]

Enddate = ['2020-12-30', 
        '2020-11-30', 
        '2020-12-31', 
        '2021-01-31',
        '2021-02-28',
        '2021-03-31',
        '2021-04-30',
        '2021-05-31',
        '2021-06-30',
        '2021-07-31',
        '2021-08-31',
        '2021-09-30'
       ]

df6 = pd.DataFrame(
                {
                "LOB": ['D-SNP', 'I-SNP', 
             'MAPD', 'MAP']
                }
                )

df13 = pd.DataFrame(
                {
                "LOB": ['MAP']
                }
                )

for (a, b) in zip(date, Enddate):
    
    # MAPD & DSNP & ISNP
    df7 = df3[(df3['DisenrollDate'] >= a) & (df3['DisenrollDate'] <= b)]

    # Disenrollment
    
    df7 = df7[(df7['Status'] == 'Disenrolled')]

    df8 = df7.groupby(["LOB"])["LOB"].count().reset_index(name="count")

    

    df8.rename(columns = {
                           'count' : '{}'.format(b),},
                            inplace = True)

    # MAP
    df12 = df11[(df11['DisenrollDate'] == b)]
    df12 = df12[(df12['Status'] == 'Disenrolled')]
    df12 = df12.groupby(["LOB"])["LOB"].count().reset_index(name="count")
    
    df12.rename(columns = {
                           'count' : '{}'.format(b),},
                            inplace = True)

    result = df8.append(df12)
    result = result.reset_index(drop=True)
    #print (result)
    
    df6 = df6.merge(result, how='left', on='LOB')
    
    #df6 = df6.append(df12)
    
    #df8 = pd.concat([df8, df12], ignore_index=True)


#print (df6)

C:\Users\tflung\Anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:300: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)
<ipython-input-12-88dd83fa677c>:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['DisenrollDate'] = pd.to_datetime(df3['DisenrollDate'], errors = 'coerce')

In [13]:
# remove index

# df.rename(columns=df.iloc[0]).drop(df.index[0])

df26 = df6.T


new_header = df26.iloc[0] #grab the first row for the header
df26 = df26[1:] #take the data less the header row
df26.columns = new_header

df26 = df26.reset_index()

# change columns name
df26 = df26.rename(columns={'index': 'Month'})
df26 = df26.rename(columns={'D-SNP': 'D-SNP_Loss'})
df26 = df26.rename(columns={'MAPD': 'MAPD_Loss'})
df26 = df26.rename(columns={'MAP': 'MAP_Loss'})

# change na to 0
df26 = df26.fillna(0)

# change to int
df26['D-SNP_Loss'] = df26['D-SNP_Loss'].astype(int)
df26['MAPD_Loss'] = df26['MAPD_Loss'].astype(int)
df26['MAP_Loss'] = df26['MAP_Loss'].astype(int)


df26 = df26[['Month', 'D-SNP_Loss', 'MAPD_Loss', 'MAP_Loss']]

df26['Month']= pd.to_datetime(df26['Month'])

df27 = df26

df27

LOB      Month  D-SNP_Loss  MAPD_Loss  MAP_Loss
0   2020-12-30           0          0         0
1   2020-11-30           7          3         1
2   2020-12-31         151         78         0
3   2021-01-31         138         28         6
4   2021-02-28          66         22         6
5   2021-03-31          63         20        13
6   2021-04-30          58         14         5
7   2021-05-31          40         12         6
8   2021-06-30          47          8         5
9   2021-07-31          58         14         5
10  2021-08-31          47         18         9
11  2021-09-30          14          5         0

In [14]:
from io import BytesIO
from zipfile import ZipFile
import pandas
import requests
import itertools

#url = 'https://www.cms.gov/files/zip/monthly-enrollment-plan-december-2020.zip'

url = [
       #'https://www.cms.gov/files/zip/monthly-enrollment-plan-october-2020.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-november-2020.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-december-2020.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-january-2021.zip', 
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-february-2021.zip', 
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-march-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-april-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-may-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-june-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-july-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-august-2021.zip',
       'https://www.cms.gov/files/zip/monthly-enrollment-plan-september-2021.zip'
      ]




date = [
        #'2020-10-31', 
        '2020-11-30', 
        '2020-12-31', 
        '2021-01-31', 
        '2021-02-28',
        '2021-03-31',
        '2021-04-30',
        '2021-05-31',
        '2021-06-30',
        '2021-07-31',
        '2021-08-31',
        '2021-09-30'
       ]

file = [
        #'Monthly_Report_By_Plan_2020_10/Monthly_Report_By_Plan_2020_10.csv', 
        'Monthly_Report_By_Plan_2020_11/Monthly_Report_By_Plan_2020_11.csv', 
        'Monthly_Report_By_Plan_2020_12/Monthly_Report_By_Plan_2020_12.csv', 
        'Monthly_Report_By_Plan_2021_01/Monthly_Report_By_Plan_2021_01.csv', 
        'Monthly_Report_By_Plan_2021_02/Monthly_Report_By_Plan_2021_02.csv',
        'Monthly_Report_By_Plan_2021_03/Monthly_Report_By_Plan_2021_03.csv',
        'Monthly_Report_By_Plan_2021_04/Monthly_Report_By_Plan_2021_04.csv',
        'Monthly_Report_By_Plan_2021_05/Monthly_Report_By_Plan_2021_05.csv',
        'Monthly_Report_By_Plan_2021_06/Monthly_Report_By_Plan_2021_06.csv',
        'Monthly_Report_By_Plan_2021_07/Monthly_Report_By_Plan_2021_07.csv',
        'Monthly_Report_By_Plan_2021_08/Monthly_Report_By_Plan_2021_08.csv',
        'Monthly_Report_By_Plan_2021_09/Monthly_Report_By_Plan_2021_09.csv'
       ]


new_columns = ['Month', 'Name', 'Enrollment']

df13 = pd.DataFrame(columns=new_columns)

for (a, b, c) in zip(url, date, file):
    
    filename = requests.get(a).content
    zf = ZipFile( BytesIO(filename), 'r' )

    for item in zf.namelist():
        print("File in zip: "+ item)

    match = [s for s in zf.namelist() if c in s][0]
    #df = pandas.read_csv( zf.open(match), encoding='utf-8', error_bad_lines=False)

    df = pd.read_csv(zf.open(match), encoding='latin1')

    #print(df)

    #df.head(5)

    # rename

    df1 = df.rename(columns={'Contract Number': 'Contract'})
    df1 = df1.rename(columns={'Plan Name': 'Name'})
    
    # Contract = H6988
    df2 = df1[(df1["Contract"] == 'H6988')]

    #df2

    # select columns

    df3 = df2[['Name', 'Enrollment']]

    # change data
    df3 = df3.replace(['Centers Plan for Medicare Advantage Care (HMO)'],'MAPD')
    df3 = df3.replace(['Centers Plan for Dual Coverage Care (HMO D-SNP)'],'D-SNP')
    df3 = df3.replace(['Centers Plan for Nursing Home Care (HMO I-SNP)'],'I-SNP')
    df3 = df3.replace(['Centers Plan for Medicaid Advantage Plus (HMO D-SNP)'],'MAP')
    df4 = df3.replace(['Centers Plan for Employer Groups (HMO)'],'Employer')

    #df4

    # drop last row

    df5 = df4[df4.Name != 'Employer']
    df5 = df5[df5.Name != 'Centers Plan for Medicaid Advantage (HMO D-SNP)']

    # add month
    df5['Month'] = b

    # change order
    df5 = df5[['Month', 'Name', 'Enrollment']]
    
    df13 = df13.append(df5, ignore_index=True)

#print (df13)

#df6.to_excel(r'4.xlsx', index = False)

# dataframe to pivot
df14 = pd.pivot_table(df13, index=['Month'], columns=['Name'], values=['Enrollment'], aggfunc='first')

# pivot to dataframe
df15 = pd.DataFrame(df14.to_records())

# Change columns name
df16 = df15.rename(columns={"('Enrollment', 'D-SNP')": "D-SNP", "('Enrollment', 'I-SNP')": "I-SNP", "('Enrollment', 'MAP')": "MAP", "('Enrollment', 'MAPD')": "MAPD"})
df16

File in zip: Monthly_Report_By_Plan_2020_11/
File in zip: Monthly_Report_By_Plan_2020_11/Monthly_Report_By_Plan_2020_11.csv
File in zip: Monthly_Report_By_Plan_2020_11/Monthly_Report_By_Plan_2020_11.xlsx
File in zip: Monthly_Report_By_Plan_2020_11/Read_Me_Monthly_Report_By_Plan_2020.txt
File in zip: Monthly_Report_By_Plan_2020_12/
File in zip: Monthly_Report_By_Plan_2020_12/Monthly_Report_By_Plan_2020_12.csv
File in zip: Monthly_Report_By_Plan_2020_12/Monthly_Report_By_Plan_2020_12.xlsx
File in zip: Monthly_Report_By_Plan_2020_12/Read_Me_Monthly_Report_By_Plan_2020.txt
File in zip: Monthly_Report_By_Plan_2021_01/
File in zip: Monthly_Report_By_Plan_2021_01/Monthly_Report_By_Plan_2021_01.csv
File in zip: Monthly_Report_By_Plan_2021_01/Monthly_Report_By_Plan_2021_01.xlsx
File in zip: Monthly_Report_By_Plan_2021_01/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_02/
File in zip: Monthly_Report_By_Plan_2021_02/Monthly_Report_By_Plan_2021_02.csv
File in zip: Monthly_Report_By_Plan_2021_02/Monthly_Report_By_Plan_2021_02.xlsx
File in zip: Monthly_Report_By_Plan_2021_02/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_03/
File in zip: Monthly_Report_By_Plan_2021_03/Monthly_Report_By_Plan_2021_03.csv
File in zip: Monthly_Report_By_Plan_2021_03/Monthly_Report_By_Plan_2021_03.xlsx
File in zip: Monthly_Report_By_Plan_2021_03/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_04/
File in zip: Monthly_Report_By_Plan_2021_04/Monthly_Report_By_Plan_2021_04.csv
File in zip: Monthly_Report_By_Plan_2021_04/Monthly_Report_By_Plan_2021_04.xlsx
File in zip: Monthly_Report_By_Plan_2021_04/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_05/
File in zip: Monthly_Report_By_Plan_2021_05/Monthly_Report_By_Plan_2021_05.csv
File in zip: Monthly_Report_By_Plan_2021_05/Monthly_Report_By_Plan_2021_05.xlsx
File in zip: Monthly_Report_By_Plan_2021_05/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_06/
File in zip: Monthly_Report_By_Plan_2021_06/Monthly_Report_By_Plan_2021_06.csv
File in zip: Monthly_Report_By_Plan_2021_06/Monthly_Report_By_Plan_2021_06.xlsx
File in zip: Monthly_Report_By_Plan_2021_06/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_07/
File in zip: Monthly_Report_By_Plan_2021_07/Monthly_Report_By_Plan_2021_07.csv
File in zip: Monthly_Report_By_Plan_2021_07/Monthly_Report_By_Plan_2021_07.xlsx
File in zip: Monthly_Report_By_Plan_2021_07/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_08/
File in zip: Monthly_Report_By_Plan_2021_08/Monthly_Report_By_Plan_2021_08.csv
File in zip: Monthly_Report_By_Plan_2021_08/Monthly_Report_By_Plan_2021_08.xlsx
File in zip: Monthly_Report_By_Plan_2021_08/Read_Me_Monthly_Report_By_Plan_2021.txt
File in zip: Monthly_Report_By_Plan_2021_08/~$Monthly_Report_By_Plan_2021_08.xlsx
File in zip: Monthly_Report_By_Plan_2021_09/
File in zip: Monthly_Report_By_Plan_2021_09/Monthly_Report_By_Plan_2021_09.csv
File in zip: Monthly_Report_By_Plan_2021_09/Monthly_Report_By_Plan_2021_09.xlsx
File in zip: Monthly_Report_By_Plan_2021_09/Read_Me_Monthly_Report_By_Plan_2021.txt

         Month D-SNP I-SNP  MAP MAPD
0   2020-11-30   500   187   21  496
1   2020-12-31   495   185   19  491
2   2021-01-31   725   183   62  545
3   2021-02-28   655   178  161  530
4   2021-03-31   679   177  282  519
5   2021-04-30   708   181  379  502
6   2021-05-31   795   182  444  494
7   2021-06-30   852   164  497  483
8   2021-07-31   884   167  509  478
9   2021-08-31   917   170  561  482
10  2021-09-30   898   178  606  465

# Combine

In [15]:
# df28, df30, df27, df16

# change type of month as date
df16['Month']= pd.to_datetime(df16['Month'])
df27['Month']= pd.to_datetime(df27['Month'])

df25 = df16[['Month', 'D-SNP', 'MAPD', 'MAP']]

# change type of number
df25['D-SNP'] = df25['D-SNP'].astype(str).astype(int)
df25['MAPD'] = df25['MAPD'].astype(str).astype(int)
df25['MAP'] = df25['MAP'].astype(int)

# add conditional value
df25['CENSUS'] = df25['D-SNP'] + df25['MAPD'] + df25['MAP']

# merge 2 dataframe
df31 = df25.merge(df27, how='left', on='Month')
df31['Overall_DISEN'] = df31['D-SNP_Loss'] + df31['MAPD_Loss'] + df31['MAP_Loss']

# Change data
df31['Month'] = df31['Month'] + pd.to_timedelta(1, unit='d')

df31 = df31.merge(df28, how='left', on='Month')
df31 = df31.merge(df30, how='left', on='Month')
df31 = df31[['Month','CENSUS', 'Overall_DISEN', 'EN', 'RDE']]



df31['RAPID_DIS_RATE'] = (df31['RDE'] / df31['EN']).round(2)

df31['OVERALL_DIS_RATE'] = (df31['Overall_DISEN'] / df31['CENSUS']).round(2)

df31['RAPIDDIS_OVERALLDIS'] = (df31['RDE'] / df31['Overall_DISEN']).round(2)

df31 = df31.fillna(0)

df31

<ipython-input-15-3c79bc27c163>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df25['D-SNP'] = df25['D-SNP'].astype(str).astype(int)
<ipython-input-15-3c79bc27c163>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df25['MAPD'] = df25['MAPD'].astype(str).astype(int)
<ipython-input-15-3c79bc27c163>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df25['MAP'] = df25['MAP'].astype(int)

,Month,CENSUS,Overall_DISEN,EN,RDE,RAPID_DIS_RATE,OVERALL_DIS_RATE,RAPIDDIS_OVERALLDIS
0,2020-12-01,1017,11,0.0,0.0,0.00,0.01,0.00
1,2021-01-01,1005,229,301.0,110.0,0.37,0.23,0.48
2,2021-02-01,1332,172,98.0,25.0,0.26,0.13,0.15
3,2021-03-01,1346,94,91.0,23.0,0.25,0.07,0.24
4,2021-04-01,1480,96,106.0,31.0,0.29,0.06,0.32
5,2021-05-01,1589,77,129.0,22.0,0.17,0.05,0.29
6,2021-06-01,1733,58,82.0,17.0,0.21,0.03,0.29
7,2021-07-01,1832,60,78.0,22.0,0.28,0.03,0.37
8,2021-08-01,1871,77,56.0,5.0,0.09,0.04,0.06
9,2021-09-01,1960,74,46.0,2.0,0.04,0.04,0.03
10,2021-10-01,1969,19,0.0,0.0,0.00,0.01,0.00

In [16]:
#df4.to_excel(r'disenroll_rate.xlsx', index = False)


with pd.ExcelWriter('disenroll_rate2.xlsx',
                  date_format='YYYY-MM-DD',
                  datetime_format='YYYY-MM-DD') as writer:
    df31.to_excel(writer, index=False)

In [17]:
import os

# C:\Users\tflung\Downloads\WPy64-3870\notebooks


os.chdir('C:\\Users\\tflung\\Downloads\\WPy64-3870\\notebooks')

os.system('start excel.exe "disenroll_rate.xlsx"')
os.system('start excel.exe "disenroll_rate2.xlsx"')

0